body {
	color: white;
	font-family: 'Dosis', sans-serif;
	background-color: black;
}

img{
	position: relative;
	width: 100%;
}

h1{
	text-align: center;
	color: #FFFFFF;
	font-size: 2.75em;
	margin: 25px;
}

h3{
	position: absolute;
	font-size: 30px;
	top: 485px;
	left: 380px;
	color: #FFFFFF;
}

ul {
	background-color: #4472b9;
	color: #fff;
	text-align: center;
}


nav li a {
	font-size: 25px;
	color: #CCCCCC;
}


#Contact, footer{
	margin-left: auto;
	margin-right: auto;
	width: 3%;
	color: #FFFFFF;
}