a:link {color:#FF0000;}
a:visited {color: #00FF00;}

.content_area{
	position: relative;
	left: 80px;
	top: 20px;
	height: 100px;
	background-color: yellow;
}

content_area.float{
	float:right;
	width: 400px;
	background:green;
}
.clear-right{clear:right}

sidebar.float{
	float:left;
	width:200px;
	background:yellow;
}

.clear-left{clear:left}

.footer{position:absolute;
	bottom: -40px;
	left: 60px;
	background-color: green}